fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
aiofiles
requests
python-multipart

google-genai

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

sentence-transformers
faiss-cpu
pypdf
huggingface-hub
transformers
torch